@import "tailwindcss";

@font-face {
  font-family: 'GeistPixelCircle';
  src: url('./fonts/GeistPixel-Circle.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-synthesis: initial;
  font-synthesis-weight: none;
}

@theme {
  --font-pixel: 'GeistPixelCircle', monospace;
}
