@import "tailwindcss";

@font-face {
  font-family: 'GeistPixelSquare';
  src: url('./fonts/GeistPixel-Square.woff2') format('woff2');
  font-weight: 100 900;
}

@theme {
  --font-pixel: 'GeistPixelSquare', monospace;
}
